<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cafe Hits</title>
</head>
<body>
  <a class="skip-link" href="#content" tabindex="1">Skip to Content</a>
  <header>
    <div class="header__inner">
      <h1 class="header__title">
        Cafe Hits
      </h1>
      <nav class="navbar-desktop">
        <ul class="nav__list">
          <li class="nav__item"><a href="/" tabindex="2">Home</a></li>
          <li class="nav__item"><a href="#" tabindex="3">Favorite</a></li>
          <li class="nav__item"><a href="https://www.linkedin.com/in/maruf-harsono/" tabindex="4">About Us</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="nav-toggle-label" tabindex="2">
    <span></span>
  </div>
  <nav id="drawer" class="nav">
    <ul class="nav-list">
      <li><a href="/">Home</a></li>
      <li><a href="#">Favorite</a></li>
      <li><a href="https://www.linkedin.com/in/maruf-harsono/">About Us</a></li>
    </ul>
  </nav>
  <div class="hero">
    <div class="hero__inner">
      <h1 class="hero__title">Tempat Kerjanya Anak Gen Z</h1>
      <p class="hero__tagline">Kerja Keras di Tempat yang Santai</p>
    </div>
  </div>
  <main>
    <section>
      <div class="latest">
        <h1 class="latest__label">Daftar Cafe</h1>
        <div class="posts" id="content">
          <!-- content here -->
        </div>
      </div>
    </section>
  </main>
  <footer>
    <p class="copyright">Copyright © 2023 - Cafe Hits</p>
  </footer>
</body>
</html>
