* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #F9E0BB;
}

img {
  display: block;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #FFC26F;
  color: #884A39;
  padding: 10px;
  z-index: 9999;
}

.skip-link:focus {
  top: 0;
}

/*
 * Header
 *
 */

 .header {
  display: block;
  min-height: 56px;
  transition: min-height 0.3s;
}

.header__inner {
  position: fixed;
  top: 0;
  background-color: #C38154;
  width: 100%;
  text-align: right;
  z-index: 99;
}

.header__title {
  font-weight: 300;
  font-size: 2.5em;
  margin: 0.25em 0.5em;
  display: inline-block;
  color: #F5F5F5;
}

/*
 * Top level navigation
 */

/* Nav mobile */
 
.nav-toggle-label button {
  background-color: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.nav-toggle-label {
  display: block;
  min-width: 44px;
  min-height: 44px;
  position: fixed;
  top: 10px;
  left: 20px;
  cursor: pointer;
  z-index: 999;
}

.nav {
  background-color: #C38154;
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: 999;
}

.nav-list {
  list-style-type: none;
  font-size: 1.4em;
  margin: 2em;
  padding: 0;
}

.nav-list li {
  margin-bottom: 10px;
}

.nav-list li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.nav-open {
  transform: translateX(0);
  transition: transform 0.3s;
}

/* End */
.navbar-desktop {
  display: none;
}

main {
  width: 100%;
  margin: 0 auto;
}

/* New hero */
.hero {
  height: 250px;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: auto;
  object-fit: cover;
  top: 0;
  left: 0;
  opacity: 0.9;
  z-index: 1;
}

.hero-content {
  position: relative;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 1;
}

.hero h1 {
  font-size: 20px;
}

.hero p {
  font-size: 14px;
}


/*
 * latest
 */

.latest {
  width: 100%;
  margin: 60px auto;
  text-align: center;
  padding: 0 1.5em;
}

.latest__label {
  font-size: 32px;
  font-weight: lighter;
  color: #884A39;
}

.latest__label::after {
  content: '';
  margin-top: 16px;
  display: block;
  border-bottom: 1px solid #884A39;
}

/*
 * post
 */

.posts {
  margin: 32px auto auto;
  text-align: left;
}

/*
 * post item
 */

.post-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  background: #FFC26F;
}

.post-item__content {
  padding: 16px 32px 32px 32px;
}

.post-item__thumbnail {
  width: 100%;
}

.post-item__city {
  font-size: 10px;
  text-transform: uppercase;
  color: #884A39;
}

.post-item__title {
  font-weight: 500;
  font-size: 18px;
  margin-top: 16px;
  transition: 0.3s opacity;
}

.post-item__title:hover {
  opacity: 0.5;
}

.post-item__title a {
  text-decoration: none;
  color: #884A39;
}

.post-item__description {
  margin-top: 16px;
  font-size: 14px;
  line-height: 1.5em;
  color: #884A39;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  white-space: pre-wrap;
}

.post-cta {
  display: block;
  width: 100px;
}

.favorite-button {
  margin: 1rem auto;
  padding: 14px 25px;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.favorite-button__like {
  background-color: #C38154;
}

.favorite-button__liked {
  background-color: #ff4444;
}

.favorite-button__like:hover {
  background-color: #884A39;
}

.favorite-button__liked:hover {
  background-color: #CC0000;
}

/* Detail */

.resto-detail {
  margin: auto;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px 16px;
}

.resto-detail .resto-detail__title {
  margin-top: 1em;
  font-size: 28px;
}
 
.resto-detail .resto-detail__poster {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.resto-detail .resto-detail__info h3 {
  margin: 0.5em 0;
}

.resto-detail .resto-detail__info h4 {
  margin-top: 1em;
}
 

/*
 * footer
 */

 footer {
  background-color: #C38154;
  padding: 1.2em;
  width: 100%;
  text-align: center;
}

footer .copyright {
  color: white;
}